* {
    margin: 0px;
    padding: 0px;
    font-family: 'Delicious Handrawn', cursive;
}


body {
    background-color: #fc1654;
}

header {
    background-color: rgb(255, 213, 151);
    border-radius: 5px;
    margin-left: 2vh;
    margin-right: 2vh;
    margin-top: 2vh;
}

header h1 {
    text-align: center;
    padding: 1.5vh;
}

header a {
    text-decoration: none;
    color: rgb(39, 39, 39);
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

div#box {
    width: 300px;
    height: 350px;
    background: rgb(224,121,121);
    background: radial-gradient(circle, rgba(224,121,121,1) 0%, rgba(138,3,126,1) 100%);
    border: groove #000 2px;
    border-radius: 25px;
    box-shadow: 0px 3px 10px #464646;
    margin-top: 5vh;
    text-align: center;
}

div#box p {
    color: rgb(255, 255, 255);
    font-size: 30px;
    padding: 10px;
    font-family: 'Caveat', cursive;
}

.buttons {
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-evenly;
}

.botao {
    cursor: pointer;
    width: 15vh;
    border: solid 1px;
    border-radius: 5px;
    font-size: 20px;
    background-color: rgb(255, 213, 151);
}

div#box a {
    text-decoration: none;
    text-align: center;
    color: #000;
    font-size: 25px;
}